<div>
  <div class="overlay" data-aos="zoom-out-up">
    <img
      src="../../../assets/workBgr.png"
      class="letters"
      alt="Background letters decoration"
    />
  </div>
  <section class="about container">
    <figure class="about__img about__img--left" data-aos="zoom-in">
      <img
        alt="Sobre mí"
        class="about__picture"
        src="../../../assets/skillsImg.svg"
      />
    </figure>
    <div class="about__texts">
      <h2
        class="subtitle"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        Sobre mi trabajo
      </h2>
      <hr data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" />
      <p
        class="about__paragraph"
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-offset="0"
      >
        soy capaz de diseñar y de crear sitios web estáticos o dinámicos que
        sean completamente responsivos y amigables con el usuario, puedo llevar
        el seguimiento de los proyectos mediante un sistema de control de
        versiones, y además, estoy capacitado para trabajar colaborativamente
        con la metodología Scrum.
      </p>
    </div>
  </section>
</div>
