<div>
  <div class="overlay" data-aos="zoom-out-up">
    <img
      src="../../../assets/projects.png"
      class="letters"
      alt="Background letters decoration"
    />
  </div>
  <h2
    class="titulo__seccion"
    data-aos="fade-up"
    data-aos-anchor-placement="bottom-bottom"
  >
    Skills
  </h2>
  <hr data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" />
  <div class="skills__container__cards">
    <div
      class="skills__content"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <h3 class="skills__title skillsTitleCard1">Habilidades técnicas</h3>
      <div class="skills__box">
        <!--Izquierda-->
        <div class="skills__group">
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono HTML5"
              alt="Icono HTML5"
              src="https://img.icons8.com/color/48/000000/html-5.png"
            />
            <div>
              <h3 class="skills__name">HTML5</h3>
            </div>
          </div>

          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono CSS3"
              alt="Icono CSS3"
              src="https://img.icons8.com/color/48/000000/css3.png"
            />
            <div>
              <h3 class="skills__name">CSS3</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono JavaScript"
              alt="Icono JavaScript"
              src="https://img.icons8.com/color/48/000000/javascript--v1.png"
            />
            <div>
              <h3 class="skills__name">JavaScript</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono php"
              alt="Icono php"
              src="https://i.postimg.cc/MHyW4ydz/php.png"
            />
            <div>
              <h3 class="skills__name">PHP</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono jsp"
              alt="Icono jsp"
              src="https://i.postimg.cc/k56PzQgL/jsp.png"
            />
            <div>
              <h3 class="skills__name">JSP</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono Git"
              alt="Icono Git"
              src="https://img.icons8.com/color/48/000000/git.png"
            />
            <div>
              <h3 class="skills__name">Git</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono PostgreSQL"
              alt="Icono PostgreSQL"
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg"
            />
            <div>
              <h3 class="skills__name">PostgreSQL</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono MySQL"
              alt="Icono MySQL"
              src="https://img.icons8.com/color/48/000000/mysql-logo.png"
            />
            <div>
              <h3 class="skills__name">MySQL</h3>
            </div>
          </div>

          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono Figma"
              alt="Icono Figma"
              src="https://img.icons8.com/color/48/000000/figma--v1.png"
            />
            <div>
              <h3 class="skills__name">Figma</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono react"
              alt="Icono react"
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
            />
            <div>
              <h3 class="skills__name">React</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono NextJs"
              alt="Icono NextJs"
              src="https://i.postimg.cc/76zGHJmW/nextjs.png"
            />
            <div>
              <h3 class="skills__name">NextJs</h3>
            </div>
          </div>

          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono redux"
              alt="Icono redux"
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg"
            />
            <div>
              <h3 class="skills__name">Redux</h3>
            </div>
          </div>

          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono express"
              alt="Icono express"
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg"
            />
            <div>
              <h3 class="skills__name">Express</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono typescript"
              alt="Icono typescript"
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
            />
            <div>
              <h3 class="skills__name">TypeScript</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono angular"
              alt="Icono angular"
              src="https://raw.githubusercontent.com/file-icons/DevOpicons/2c2bf2bdb6507b8e4bfe695c1d54d639fbfed479/svg/angular.svg"
            />
            <div>
              <h3 class="skills__name">Angular</h3>
            </div>
          </div>

          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono node"
              alt="Icono node"
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
            />
            <div>
              <h3 class="skills__name">NodeJs</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono wordpress"
              alt="Icono wordpress"
              src="https://i.postimg.cc/Jn5ZLBT5/wordpress.png"
            />
            <div>
              <h3 class="skills__name">Wordpress</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono contentful"
              alt="Icono contentful"
              src="https://i.postimg.cc/N0759v1g/contentful.png"
            />
            <div>
              <h3 class="skills__name">Contentful</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono drupal"
              alt="Icono drupal"
              src="https://i.postimg.cc/SjFhfJhH/drupal.png"
            />
            <div>
              <h3 class="skills__name">Drupal</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Habilidades blandas -->
    <div
      class="skills__content"
      data-aos="fade-up"
      data-aos-delay="500"
      data-aos-anchor-placement="center-bottom"
    >
      <h3 class="skills__title skillsTitleCard2">Habilidades blandas</h3>
      <div class="skills__box">
        <!--Izquierda-->
        <div class="skills__group">
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono Organizado"
              alt="Icono Organizado"
              src="https://img.icons8.com/color/50/000000/tidy-shelf.png"
            />
            <div>
              <h3 class="skills__name soft1">Organizado</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono Disciplinado"
              alt="Icono Disciplinado"
              src="https://img.icons8.com/external-flat-geotatah/50/000000/external-aim-positive-attitude-flat-flat-geotatah.png"
            />
            <div>
              <h3 class="skills__name soft2">Disciplinado</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono Productivo"
              alt="Icono Productivo"
              src="https://img.icons8.com/external-flat-juicy-fish/60/000000/external-productivity-digital-nomad-flat-flat-juicy-fish.png"
            />
            <div>
              <h3 class="skills__name soft3">Productivo</h3>
            </div>
          </div>

          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono Asertivo"
              alt="Icono Asertivo"
              src="https://img.icons8.com/external-flat-wichaiwi/64/000000/external-confidence-generation-z-flat-wichaiwi.png"
            />
            <div>
              <h3 class="skills__name soft4">Asertivo</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono Creativo"
              alt="Icono Creativo"
              src="https://img.icons8.com/external-itim2101-flat-itim2101/64/000000/external-creative-human-resources-itim2101-flat-itim2101.png"
            />
            <div>
              <h3 class="skills__name soft5">Creativo</h3>
            </div>
          </div>
          <div class="skills__data">
            <img
              class="skill__icon"
              title="Icono Adaptable"
              alt="Icono Adaptable"
              src="https://img.icons8.com/external-flat-geotatah/64/000000/external-adaptation-sales-incentive-compensation-flat-flat-geotatah-2.png"
            />
            <div>
              <h3 class="skills__name soft6">Adaptable</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
