<div class="containerPrincipal">
  <div class="infoPrincipal">
    <div class="divImg">
      <img class="imagen" src="../../assets/portada.jpg" alt="imagen" />
    </div>
    <div class="nombreInfo">
      <h3 data-text="&nbsp;Desarrollador&nbsp;Full&nbsp;-&nbsp;Stack">
        &nbsp;Desarrollador Full - Stack&nbsp;
      </h3>
    </div>
    <div class="containerBoton">
      <button (click)="ingresar()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Ingresar
      </button>
    </div>
  </div>
</div>
