<footer class="footer">
  <div class="footer__container container">
    <h2 class="footer__title">Fabian Menjura</h2>

    <p class="footer_msg footerMsg">Redes sociales ツ</p>
    <div class="container__social">
      <ul class="wraper">
        <li class="icon linkedin">
          <a href="https://www.linkedin.com/in/fabian-menjura-1409ba216/">
            <span class="tooltip">Linkedin</span>
            <span
              ><img
                class="img"
                src="../../../assets/linkedin.png"
                alt="linkedin"
            /></span>
          </a>
        </li>
        <li class="icon gitHub">
          <a href="https://github.com/fabian-07-menjura">
            <span class="tooltip">GitHub</span>
            <span>
              <img class="img" src="../../../assets/github.png" alt="github" />
            </span>
          </a>
        </li>
        <li class="icon wtsp">
          <a href="https://api.whatsapp.com/send?phone=3146364068">
            <span class="tooltip">WhatsApp</span>
            <span
              ><img class="img" src="../../../assets/whatsapp.png" alt="wtsp"
            /></span>
          </a>
        </li>
      </ul>
    </div>

    <span class="footer__rights"> &#169; Fabian-07-Menjura</span>
    <span class="footer__rights footerrights">
      Todos los derechos reservados - 2025
    </span>
  </div>
</footer>
