<div>
  <div>
    <div class="overlay" data-aos="zoom-out-up" data-aos-delay="500">
      <img
        src="../../../assets/proyectos.png"
        class="letters"
        alt="Background letters decoration"
      />
    </div>
    <div class="cntProyects">
      <a name="proyectos"></a>
      <h2
        class="titulo__seccion"
        data-aos="fade-up"
        data-aos-delay="700"
        data-aos-anchor-placement="bottom-bottom"
      >
        Experiencia
      </h2>
      <hr
        data-aos="fade-up"
        data-aos-delay="700"
        data-aos-anchor-placement="bottom-bottom"
      />

      <div class="containerProyects">
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img
                src="https://i.postimg.cc/d1GDC7gZ/web-derco.png"
                alt="img pagina derco"
              />
              <h2>Derco</h2>
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img
                src="https://i.postimg.cc/0Q1y9krk/web-plazadelasamericas.png"
                alt="img web plaza de las americas"
              />
              <h2>Plaza de las Americas</h2>
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img
                src="https://i.postimg.cc/Xq73vpWb/web-cruzverde.png"
                alt="img cruz verde"
              />
              <h2>Cruz Verde</h2>
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img
                src="https://i.postimg.cc/DZ5kRnXY/web-mederi.png"
                alt="img web mederi"
              />
              <h2>Mederi</h2>
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img
                src="https://i.postimg.cc/QMQH9929/web-gprovivienda.png"
                alt="web Gprovivienda"
              />
              <h2>Gprovivienda</h2>
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img
                src="https://i.postimg.cc/Y9dZbR55/maquetacion-de-correo-javeriana.png"
                alt="correo pontificia universidad javeriana"
              />
              <h2>Pontificia Universidad Javeriana</h2>
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img
                src="https://i.postimg.cc/Y9CyGgvb/maquetacion-de-correo-javeriana-01.png"
                alt="correo pontificia universidad javeriana"
              />
              <h2>Pontificia Universidad Javeriana</h2>
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img
                src="https://i.postimg.cc/pLMGQ399/maquetacion-de-correo-javeriana-02.png"
                alt="correo pontificia universidad javeriana"
              />
              <h2>Pontificia Universidad Javeriana</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br />
  <div>
    <div class="cntProyects">
      <div class="containerProyects">
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img src="../../assets/imgPfinal.png" alt="imgFood" />
              <h2>Find Your Teacher</h2>
            </div>
          </div>
          <div class="cara cara2">
            <div class="content">
              <p>
                Plataforma web donde encontras tu profesor para reforzar la
                materia que desees. <br />
                Tecnologias:
                React-Redux-Firebase-Socket.IO-NodeJs-Sequelize-Express-MySQL
              </p>

              <a
                href="https://github.com/fabian-07-menjura/proyecto-final_Client/blob/main/README.md"
                >Readme</a
              >
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img src="../../assets/imgPdogs.png" alt="imgDogs" />
              <h2>Dood</h2>
            </div>
          </div>
          <div class="cara cara2">
            <div class="content">
              <p>
                Aplicación web donde encontraras todas las razas de perros del
                mundo junto con su descripción, tambien podras añadir una nueva
                si crees que hace falta <br />
                Tecnologias: React, Redux, NodeJs, Express, Sequelize, MySQL
              </p>
              <a
                href="https://github.com/fabian-07-menjura/Proyecto-individual-dogs/blob/main/README.md"
                >Readme</a
              >
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img src="../../assets/imgPfood.png" alt="" />
              <h2>Food</h2>
            </div>
          </div>
          <div class="cara cara2">
            <div class="content">
              <p>
                Single Page Application donde encontras un monton de recetas de
                comidas, puedes filtarlas para tu agrado, tambien podras agregar
                nuevas.<br />
                Tecnologias: React, Redux, Express, NodeJs, Sequelize; MySQL
              </p>
              <a
                href="https://github.com/fabian-07-menjura/Proyecto-Individual-food/blob/main/README.md"
                >Readme</a
              >
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img src="../../assets/imgEncriptador.png" alt="imgEncriptador" />
              <h2>Encriptador</h2>
            </div>
          </div>
          <div class="cara cara2">
            <div class="content">
              <p>
                Aplicación Web que te permite encriptar y desencriptar los
                Textos que desees, asi podras enviar mensajes o informacion
                segura.
                <br />
                Tecnologias: Html, Css, JavaScript
              </p>
              <a
                href="https://github.com/fabian-07-menjura/Encriptador-de-texto-CSS_HTML_JS/blob/master/README.md"
                >Readme</a
              >
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-anchor-placement="bottom-bottom"
        >
          <div class="cara cara1">
            <div class="content">
              <img src="../../assets/imgBarberia.jpg" alt="imgBarberia" />
              <h2>Barberia</h2>
            </div>
          </div>
          <div class="cara cara2">
            <div class="content">
              <p>
                Esquema Front-End para una barberia, contiene una breve
                descrición de sus servicios, ubicación y formulario para agendar
                citas.
                <br />
                Tecnologias: Html, CSS
              </p>
              <a
                href="https://github.com/fabian-07-menjura/Barberia-Alura-HTML_CSS/blob/main/README.md"
                >Readme</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
