<div class="overlay" data-aos="zoom-out-up" data-aos-delay="500">
  <img
    src="../../../assets/workBgr.png"
    class="letters"
    alt="Background letters decoration"
  />
</div>
<h2
  class="titulo__seccion"
  data-aos="fade-up"
  data-aos-delay="900"
  data-aos-anchor-placement="bottom-bottom"
>
  Contactame
</h2>
<hr
  data-aos="fade-up"
  data-aos-delay="900"
  data-aos-anchor-placement="bottom-bottom"
/>
<p
  class="desc__contacto"
  data-aos="fade-zoom-in"
  data-aos-easing="ease-in-back"
  data-aos-delay="900"
  data-aos-offset="0"
>
  Si tienes algún proyecto en mente que quieras llevar a la realidad o necesitas
  un desarrollador web para tu equipo, no dudes en hacérmelo saber, estaré
  encantado de trabajar junto a ti.
</p>
<div class="contact__content">
  <h3
    class="contact__title waycontactTitle"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="900"
    data-aos-offset="0"
  >
    Habla conmigo
  </h3>
  <div class="contact__info">
    <div
      class="contact__card contact__card1"
      data-aos="fade-up"
      data-aos-delay="600"
      data-aos-anchor-placement="center-bottom"
    >
      <img
        class="img__contact"
        src="../../../assets/gmail.png"
        alt="imagenEmail"
      />

      <h3 class="contact__card-title waycontactEmail">Correo</h3>
      <span class="contact__card-data">fabian.menjura.22@gmail.com</span>
      <a
        href="mailto:fabian.menjura.22@gmail.com"
        rel="noreferrer noopener"
        target="_blank"
        class="contact__button"
      >
        <i class="bx bx-right-arrow-alt contact__button-icon xd">--></i>
      </a>
    </div>

    <div
      class="contact__card contact__card2"
      data-aos="fade-up"
      data-aos-delay="700"
      data-aos-anchor-placement="center-bottom"
    >
      <img
        class="img__contact"
        src="../../../assets/whatsapp.png"
        alt="imagenWtsp"
      />

      <h3 class="contact__card-title">WhatsApp</h3>
      <span class="contact__card-data">+57 3146364068</span>
      <a
        href="https://api.whatsapp.com/send?phone=3146364068"
        rel="noreferrer noopener"
        target="_blank"
        class="contact__button"
      >
        <i class="bx bx-right-arrow-alt contact__button-icon">--></i>
      </a>
    </div>
  </div>
</div>
